<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/index.css">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Zhao的留言板</h1>
        </div>
    </header>
    <section class="main">
        <div class="message-container">
            <div class="message-title">
                <span class="title-text">留言板</span>
            </div>
            <form>
                <div class="name-wrap">
                    <label for="name" class="name-label">用户名:</label><!--
                        --><input type="text" id="name" class="name" name="name" placeholder="请输入用户名">
                </div>
                <textarea class="text" id="text" name="text" placeholder="请输入留言内容"></textarea>
                <button class="submit">提交</button><!--
                    --><button class="cancel">取消</button>
            </form>
        </div>
    </section>
    <section  class="list">
        <div class="list-container">
            <p class="list-title">留言</p>
            <div class="list-items">
                <% messages.forEach((item)=>{ %>
                <div class="list-item clearfix">
                    <div class="list-main">
                        <span class="list-main-name"><%= item.name %></span><!--
                                --><span class="list-main-id">第<i><%= item.id %></i>楼</span><!--
                            --><span class="list-main-delete">删除</span>
                        <p class="list-main-text"><%= item.text %></p>
                        <span class="list-main-time"><%= item.date %></span>
                    </div>
                    <div class="list-header"><img src="image/sculpture.PNG"></div>
                </div>
                <% }) %>
                <script type="text/template" data-id="list_tpl">
                    <div class="list-item clearfix">
                        <div class="list-main">
                            <span class="list-main-name">$name$</span><!--
                                --><span class="list-main-id">第<i>$id$</i>楼</span><!--
                            --><span class="list-main-delete">删除</span>
                            <p class="list-main-text">$text$</p>
                            <span class="list-main-time">$date$</span>
                        </div>
                        <div class="list-header"><img src="image/sculpture.PNG"></div>
                    </div>
                </script>
            </div>
        </div>
    </section>
    <script src="js/index.js"></script>
</body>
</html>